.SpeedTest{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.InfoNav{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    margin-top: 20px;
}

.Reload{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid var(--orange);
    font-size: 30px;
    color: gainsboro;
}

.ThickText{
    font-size: 50px;
    color: #999;
    font-family: 'Quicksand';
    font-weight: 900;
}

.HighLight{
    font-size: 80%;
    padding-left: 3px;
    color: var(--thick);
}

.WordBox{
    width: 95%;
    max-width: 800px;
    color: gainsboro;
    font-size: 22px;
    font-family: 'Quicksand';
    overflow: hidden;
    line-height: 40px;
    margin-top: 50px;
    box-shadow: 1px 3px 10px 0px #090909;
    padding: 0px 15px;
    border-radius: 5px;
}

.WordBox::-webkit-scrollbar{
    display: none;
}

.InputLine{
    background-color: transparent;
    border: 0px;
    border-bottom: 2px solid var(--copper);
    width: 90%;
    max-width: 500px;
    padding: 5px 5px;
    color: gainsboro;
    font-family: 'Quicksand';
    font-size: 20px;
    user-select: none;
}

.unvis{
    color: gainsboro;
}

.correct{
    color: #777;
}

.wrong{
    color: rgb(220,50,50);
}