@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Quicksand&display=swap");

#root {
  /* --orange: #b1782e; */
  /* --copper: #b87333; */
  --extraBg: #606060ff;
  --bg: #1c1c1bff;
  --nav: #1c1c1bff;
  --thick: rgb(200, 150, 0);
  --orange: rgb(200, 150, 0);
  --copper: rgb(200, 150, 0);
}

.TypeArena {
  width: 100%;
  height: 100%;
  /* background-color: #101922FF; */
  /* background-color: #01121f; */
  /* background-color: #1F2022; */
  background-color: var(--bg);
  overflow-y: hidden;
}

.ptr {
  cursor: pointer;
}

.ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Screens {
  width: calc(100% - 55px);
}

.RulesModalWrap {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Backface {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(10, 10, 10, 0.25);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  z-index: 1;
}

.RulesModal {
  width: 90%;
  max-width: 450px;
  max-height: 400px;
  background-color: gainsboro;
  z-index: 2;
  padding: 10px 15px;
  border-radius: 6px;
  overflow-y: scroll;
  box-shadow: 0px 0px 30px 1px #111;
}

.RulesModal::-webkit-scrollbar,
.WordResultModal::-webkit-scrollbar,
.WPMResultModal::-webkit-scrollbar{
  width: 5px;
}

.RulesModal::-webkit-scrollbar-thumb,
.WordResultModal::-webkit-scrollbar-thumb, 
.WPMResultModal::-webkit-scrollbar-thumb{
  background-color: #888;
  border-radius: 100px;
  transition: all 0.3s ease;
}

.RulesModal::-webkit-scrollbar-thumb:hover,
.WordResultModal::-webkit-scrollbar-thumb:hover,
.WPMResultModal::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

.List {
  margin: 15px 0px;
  color: #000;
  font-size: 18px;
  font-family: "Poppins";
}

.Footer {
  font-size: 20px;
  color: #999;
  font-family: "Quicksand";
  font-weight: bolder;
}

.WordResultModalWrap,
.WPMResultModalWrap {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.WordResultModal,
.WPMResultModal {
  width: 90%;
  max-width: 450px;
  max-height: 400px;
  background-color: gainsboro;
  z-index: 3;
  padding: 10px 15px;
  border-radius: 6px;
  overflow-y: scroll;
  box-shadow: 0px 0px 30px 1px #111;
}

.CorrectWords, .WrongWords{
  margin-bottom: 50px;
}

.ModalHead{
  font-size: 22px;
  color: #222;
  font-family: 'Open sans';
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 20px;
}

.AllWords{
  font-size: 18px;
  font-family: 'Quicksand';
  color: #111;
  margin: 5px 0px;
}

.WPMResultModal{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  min-height: 300px;
}

.WPMWrap, .AccWrap{
  text-align: center;
  font-size: calc(48px + 1vw);
  font-family: 'Quicksand';
  color: #444;
}

.smallTxt{
  color: orange;
  font-weight: bolder;
  font-size: 80%;
}

.ThinTxt{
  font-size: calc(28px + 1vw);
}